block variables

doctype html
html
  head
    title #{title}
    meta(charset="utf-8")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")

    link(rel="stylesheet" href="/assets/css/app.css")
    script(src="/assets/js/app.js" defer)

  body
    block content
